# Django
DJANGO_SECRET_KEY=cambia-esto-por-una-clave-segura-generada
DJANGO_DEBUG=false

# Base de datos
DB_NAME=tienda_db
DB_USER=tienda_user
DB_PASSWORD=contraseña-segura-db

# Google OAuth
GOOGLE_CLIENT_ID=407380072093-net9iu582ctjsa5aego2pdqeq220l5l6.apps.googleusercontent.com

# Email (IONOS SMTP)
EMAIL_HOST=smtp.ionos.es
EMAIL_PORT=587
EMAIL_USE_TLS=true
EMAIL_HOST_USER=tu-email@tu-dominio.com
EMAIL_HOST_PASSWORD=tu-contraseña-de-correo
DEFAULT_FROM_EMAIL=tu-email@tu-dominio.com
